@font-face {
    font-family: "RobotoSlabBold";
    src: url("fonts/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("fonts/OpenSansLight/OpenSansLight.eot");
    src: url("fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}/*
@font-face {
    font-family: "LobsterRegular";
    src: url("fonts/LobsterRegular/LobsterRegular.eot");
    src: url("fonts/LobsterRegular/LobsterRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/LobsterRegular/LobsterRegular.woff") format("woff"),
    url("fonts/LobsterRegular/LobsterRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/