/*
.light color: #d5d3bc;      rgba(213,211,188,0.5);
coffee color: #90826c;
.gray  color: #685E4A;      rgba(104,94,74,0.5);
.dark  color: #544b3b;      rgba(84,75,59,0.5);
.black color: #222;         rgba(34,34,34,0.5);

.red   color: #bc3100       rgba(188,49,0,0.5)
.light-blue   #577B87       rgba(87,123,135,0.5)
.light-blue   #2a424a
.blue  color: #0F1E23       rgba(15,30,35,0.5);
*/

* {
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "OpenSansRegular";
	-webkit-transition:	.5s ease;
	-moz-transition:	.5s ease;
	-o-transition:		.5s ease;
	transition:			.5s ease;
}

a, a:before, a:after, .container:after, .white, .light, .gray, .dark, .black, .red, .dark-red, .button:before, section, div, span, p, article, span, h1, h2, h3, h4, h5, h6, td, th, blockquote, b, i, em, strong, .header:after, path, polygon, rect {
	-webkit-transition:	.5s ease;
	-moz-transition:	.5s ease;
	-o-transition:		.5s ease;
	transition:			.5s ease;
}
section, div, span, p, article, span, h1, h2, h3, h4, h5, h6, td, th, blockquote, b, i, em, strong {cursor: default;}
a section, a div, a span, a p, a article, a span, a h1, a h2, a h3, a h4, a h5, a h6, a td, a th, a blockquote, a b, a i, a em, a strong {cursor: pointer;}

h1,h2,h3,h4,h5,h6 { text-shadow: 0 0 1em #000;}
h1, h2 {
	font-family: "RobotoSlabBold";
	font-size: 2em;
	line-height: 1em;
	padding: 1em 0px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #222;
	text-transform: uppercase;
}
.h1-v2 {
	display: table;
	padding: 0;
	margin: 0 auto;
	line-height: inherit;
	letter-spacing: 0;
}
h1 a,
h2 a { color: #222; }
h3 {
	display: table;
	text-align: center;
	text-transform: uppercase;
	margin: 2em auto;
	font-family: "RobotoSlabBold";
	font-size: 1.5em;
}
h4 {
	font-size: 1.5em;
	font-family: "RobotoSlabBold";
	text-transform: uppercase;
}
h5 {
	font-size: 1.5em;
	font-family: "RobotoSlabBold";
	text-transform: uppercase;
}
.header {
	display: block;
	padding: 3em 0;
	position: relative;
}
	a.header:hover h2 { color: #d5d3bc; }
p { padding-bottom: 1em; }
a {
	text-decoration: none;
	color: #bc3100;
	cursor: pointer;
}
p a { text-decoration: underline; color: #bc3100; }
mark { background-color: transparent; color: inherit; white-space: nowrap; }
.clr {clear: both;}
.divider {
/*
	height: 1px;
	margin: 2em auto;
	display: table;
	border-bottom: 1px dashed;
*/
	padding: 2em 0 0;
	display: block;
	margin: 0 auto 2em;
	box-shadow: 0 1em 1em rgba(0,0,0,0.5);
}

/* colors*/
.white,	.white-hov,	.light-hov:hover,	.white a,	.light a:hover,	.light input[type=submit] { color: #fff }
.light,	.light-hov,	.gray-hov :hover,	.light a,	.gray  a:hover,	.light label { color: #d5d3bc }
.gray,	.gray-hov,	.gray a { color: #685E4A; }
.dark,	.dark-hov,	.dark a { color: #544b3b }
.black,	.black-hov,	.red-hov:hover,		.black a,	.red a:hover,	.dark-hov:hover, .blue-hov:hover, .light-blue-hov:hover, .dark a:hover { color: #222 }
.red,	.red-hov,	a.red { color: #bc3100 }
.light-blue, .light-blue-hov, a.light-blue { color: #2a424a }
.blue, 	.blue-hov, a.blue, .blue-hov a { color: #0F1E23 }
.black-hov:hover, .black a:hover { color: #111;}
/* bg-colors */
.white-bg { background-color: #fff		}
.light-bg { background-color: #d5d3bc 	}
.gray-bg  { background-color: #90826C	} /* был #8d826f */
.dark-bg  { background-color: #544b3b	}
.black-bg { background-color: #222		}
.s-black-bg  { background-color: #000	}
.red-bg   { background-color: #bc3100	}
.blue-bg  { background-color: #0F1E23 	}
.blue-bg-half  { background-color: rgba(15,30,35,0.5); }
.wood-bg { background-image: url("../images/wood-bg-transparent.png");}
.wood-bg-dark { background-image: url("../images/wood-bg-dark.png");}

/* conatainers */
section { width: 100%; z-index: 0; position: relative; overflow: hidden; }
.w25, .w33, .w50 { width: 100%; float: none; }
.w100 { width: 100% }
.container-grid {
	width: 100%;
	padding: 0 1em;
	z-index: 3;
	position: relative;
}
.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 3;
	display: table;
}
.modal .content {padding: 0 1em 3em;}
.table { display: table }
.table-cell {display:table-cell}
.v-middle { display: table-cell; vertical-align: middle; }
.pad-small { padding-top: 80px; padding-bottom: 80px; }
.pad-big   { padding-top: 80px; padding-bottom: 80px; }
.center { display:table; margin-left: auto; margin-right: auto; }
.line { text-align: center; padding: 2em 0; }
.left { float: left }
.right { float: right }
.pos-rel {position: relative;}

/* text */
.small { font-size: 0.75em }
.big { font-size: 1.2em; line-height: 1.2em; font-family: "OpenSansLight";}
.thin { font-family: "OpenSansLight";  }
b, strong { font-family: "RobotoSlabBold"; }
i, em { font-family: "Lobster"; }
ol, ul { margin-left: 2em; margin-bottom: 1em; }
.t-center { text-align: center; }
.t-left { text-align: left }
.t-right { text-align: right }
.description p:last-child { padding-bottom: 0;}

.cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fixed { background-attachment: scroll }
.darker, .lighter, .noise, .half-noise {
	z-index: 0;
	overflow: hidden;
	position: relative;
}
.darker:after {
	background-color: rgba(17,17,17,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	content: "";
	pointer-events: none;
}
.lighter:after {
	background-color: rgba(158, 157, 138, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	content: "";
	pointer-events: none;
}
.cover.noise:before { display: none; }
.noise:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: url("../images/noise.png") transparent;
	position: absolute;
	pointer-events: none;
}
.noise-fixed:before { background-attachment: scroll; }
.half-noise:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: url("../images/noise.png") transparent;
	position: absolute;
	pointer-events: none;
	opacity: 0.5;
}
.shadow {box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.5);}
.shadow-in,
.shadow-in.noise:before {box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.5) inset;}
.fixed-outer {
	min-height: 85vmin;
	position: relative;
	z-index: -1;
}
.fixed-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vmin;
	display: table;
}
.fixed-content {
	display: table-cell;
	vertical-align: middle;
}

.button {
	width: auto;
	border: 0;
	font-family: "RobotoSlabBold";
	font-size: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 1.2em 1.5em;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0.25em 0.5em #000;
}
.button:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background-color: rgba(255,255,255,0);
}
.button:hover,
.button:focus {
	box-shadow: 0 1em 1em rgba(0,0,0,1);
	border: none;
}
.button:hover:before {
	background-color: rgba(255,255,255,0.07);
	border: none;
}
.button:active { box-shadow: none; }
.btn-border { border: 2px solid; }
.btn-border:hover,
.btn-border:focus {
	box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.125),  0 0.5em 0.5em rgba(0,0,0,0.125) inset;
	text-shadow: 0 0.5em 0.25em rgba(0,0,0,0.25);
	border: 2px solid;
}

.button.red-bg { text-shadow: 1px 1px rgb(160, 42, 0), 2px 2px rgb(161, 42, 0), 3px 3px rgb(162, 42, 0), 4px 4px rgb(162, 42, 0), 5px 5px rgb(163, 42, 0), 6px 6px rgb(164, 43, 0), 7px 7px rgb(165, 43, 0), 8px 8px rgb(165, 43, 0), 9px 9px rgb(166, 43, 0), 10px 10px rgb(167, 43, 0), 11px 11px rgb(167, 43, 0), 12px 12px rgb(168, 44, 0), 13px 13px rgb(169, 44, 0), 14px 14px rgb(170, 44, 0), 15px 15px rgb(170, 44, 0), 16px 16px rgb(171, 44, 0), 17px 17px rgb(172, 45, 0), 18px 18px rgb(172, 45, 0), 19px 19px rgb(173, 45, 0), 20px 20px rgb(174, 45, 0), 21px 21px rgb(175, 45, 0), 22px 22px rgb(175, 45, 0), 23px 23px rgb(176, 46, 0), 24px 24px rgb(177, 46, 0), 25px 25px rgb(177, 46, 0), 26px 26px rgb(178, 46, 0), 27px 27px rgb(179, 46, 0), 28px 28px rgb(180, 47, 0), 29px 29px rgb(180, 47, 0), 30px 30px rgb(181, 47, 0), 31px 31px rgb(182, 47, 0), 32px 32px rgb(182, 47, 0), 33px 33px rgb(183, 47, 0), 34px 34px rgb(184, 48, 0), 35px 35px rgb(185, 48, 0), 36px 36px rgb(185, 48, 0), 37px 37px rgb(186, 48, 0), 38px 38px rgb(187, 48, 0), 39px 39px rgb(188, 49, 0);}
.button.blue-bg {   text-shadow: 1px 1px rgb(11, 22, 26), 2px 2px rgb(11, 22, 26), 3px 3px rgb(11, 23, 27), 4px 4px rgb(11, 23, 27), 5px 5px rgb(11, 23, 27), 6px 6px rgb(12, 24, 28), 7px 7px rgb(12, 24, 28), 8px 8px rgb(12, 24, 29), 9px 9px rgb(12, 25, 29), 10px 10px rgb(12, 25, 29), 11px 11px rgb(12, 25, 30), 12px 12px rgb(13, 26, 30), 13px 13px rgb(13, 26, 30), 14px 14px rgb(13, 26, 31), 15px 15px rgb(13, 27, 31), 16px 16px rgb(13, 27, 32), 17px 17px rgb(13, 27, 32), 18px 18px rgb(14, 28, 32), 19px 19px rgb(14, 28, 33), 20px 20px rgb(14, 28, 33), 21px 21px rgb(14, 29, 33), 22px 22px rgb(14, 29, 34), 23px 23px rgb(14, 29, 34), 24px 24px rgb(15, 30, 35);}

.dashed-1 { border-bottom: 1px dashed; }
.dashed-2 { border-bottom: 2px dashed; }
.dashed-3 { border-bottom: 3px dashed; }

.slick-arrow {
	display: inline-block;
	font-size: 1.25em;
	background: transparent;
	border: none;
	color: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 0 0.5em;
	outline: none !important;
	text-shadow: inherit;
}
.slick, .slick article, .slick .text { cursor:col-resize; }
.slick, .slick * {
	-webkit-transition:	none;
	-moz-transition:	none;
	-o-transition:		none;
	transition:			none;
	outline: none !important;
}
.slick a { cursor: pointer; }

/*********************************************************************** index ************************************************************************************/

.top {
	background-color: transparent;
	margin-top: 0;
	padding: 1em 0;
}

#logo svg,
#logo img {
	width:  4em;
	height: 4em;
}
#logo path { fill: #544b3b }
#logo #slogan path { fill: #90826C }

nav {
	display: none;
	float: right;
	line-height: 4em;
}
	nav li {
		float: left;
		display: table;
	}
		nav a {
			font-family: "RobotoSlabBold";
			display: table-cell;
			padding: 1em;
			color: #544b3b;
		}
		nav a span:hover { color: #d5d3bc;}
			nav span {
				border-bottom: 2px solid;
			}
		nav a.active { color: #2a424a; }

section#intro {
	background-color: #0F1E23;
	background-image: url("../images/bg1.jpg");
	background: url("../images/bg1.jpg") center center /cover no-repeat #0F1E23;
	z-index: 2;
	border-bottom: 0.25rem solid #222;
	padding-bottom: 3em;
}
	section#intro .content { padding: 4em 0 3em; }
		section#intro h1 { padding: 1em 0 2.5em; }
		section#intro .button { margin-bottom: 3em; }

section#aboutme { background-color: #000 }
section#aboutme.noise:before {box-shadow: 0px -0.5em 0.5em rgba(0, 0, 0, 0.5) inset;}
	 .myphoto {
		display: block;
		background: url("../images/my-photo.png") center center /cover no-repeat;
		width: 10em;
		height: 10em;
		position: absolute;
		top: -5em;
		left: 50%;
		margin-left: -5em;
		z-index: 500;
		border: 0.25rem solid #222;
		box-shadow: 0px 1em 0.5em rgba(0, 0, 0, 0.5);
		overflow: hidden;

		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;

		-webkit-filter: grayscale(50%);
		-moz-filter: grayscale(50%);
		-ms-filter: grayscale(50%);
		-o-filter: grayscale(50%);
		filter: grayscale(50%);

		-webkit-background-clip:	padding-box;
		-moz-background-clip:		padding;
		background-clip:				padding-box;
	}
	.myphoto span {
		display: block;

		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
		-webkit-background-clip:	padding-box;
		-moz-background-clip:		padding;
		background-clip:				padding-box;
	}
	section#aboutme .content {
		display: block;
		padding: 7em 0 2em;
		line-height: 1.25em;
	}
		section#aboutme .pro {
			padding: 0.5em 0 2em;
			font-family: "Lobster";
		}

.svg.arrow {
	position: absolute;
	right: 1em;
	top: -5em;
	display: none;
}

section#portfolio {
	background-color: #18130F;
}
	.portfolio { margin: 0; }
		.portfolio article {
			height: 320px;
			margin: 0;
			overflow: hidden;
			position: relative;
			background-color: #222;
		}
			.portfolio article .container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 320px;
			}
			.portfolio article .container:after{ background-color: rgba(17,17,17,0); }
			.portfolio article .container:hover,
			.portfolio article.active .container {
	/*			left: -2%;
				top: -2%;
				width: 104%;
				height: 330px;
		*/	}
				.portfolio article .hashtag {
					position: absolute;
					width: 100%;
					bottom: 0;
					background-color: rgba(17,17,17,0.95);
				}
					.portfolio article:hover .hashtag,
					.portfolio article.active .hashtag {
						opacity: 0;
					}
					.portfolio article h4 {
						font-size: 2em;
						font-family: "RobotoSlabBold";
						text-align: center;
						text-transform: lowercase;
						border-bottom: 0.25rem dotted;
						margin: 1em auto;
						display: table;
						line-height: 1.25;
						text-shadow: 0 0 0.5em #000, 0 0 0.25em #000, 0 0 1em #000;
					}
						.portfolio article:hover h4,
						.portfolio article.active h4 { opacity: 0; }
				.portfolio article .player {
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 1rem;
					opacity: 0;
					width: 100%;
					background-color: rgba(17,17,17,0.95);
				}
				.portfolio article.active .player,
				.portfolio article:hover .player { opacity: 1; }
					audio {
						width: 100%;
						display: block;
						margin-top: 0.1em;
					}
						.portfolio article .player div {
							display:block;
							padding-bottom: 1em;
							margin-right: 1em;
							text-shadow: 0 0 1em #000;
							float: left;
						}
						.portfolio article .player .groupname { font-family: "RobotoSlabBold" }

section#opinion {
	background-image: url("../images/bg-stack.jpg");
	background-color: #544b3b;
	background: url("../images/bg-stack.jpg") center center /cover no-repeat #544b3b;
	z-index: -1;
}
	section#opinion .container-grid {padding: 6em 0;}
section#monials {
	box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.3) inset,
				-1px -2px 2px rgba(0, 0, 0, 0.5) inset,
				0px -0.5em 1em rgba(0, 0, 0, 0.5),
				0 0.5em 0.5em rgba(0,0,0,0.3) inset !important;
	padding-bottom: 3em;
}

section#services .container-grid { padding-bottom: 3rem }
section#services article { padding: 3em 0 1em;  }
	section#services article .content {
		color: #d5d3bc;
		border: 0.25rem solid #222;
		position: relative;
		display: table;
		margin: auto;
	}
	section#services article .content ul > li { list-style-type: square; }
	section#services article .content ol > li { list-style-type: upper-roman; }
		section#services article .content li { margin-left: 1rem; }
	section#services article.prime .content,
	section#services article.prime .content .photo  { border: 0.25rem solid #544b3b; }
		section#services article .photo {
			display: block;
			width: 6em;
			height: 6em;
			position: absolute;
			top: -3em;
			left: 50%;
			margin-left: -3em;
			z-index: 500;
			border: 0.25rem solid #222;
			overflow: hidden;

			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			-khtml-border-radius: 50%;
			border-radius: 50%;

			-webkit-background-clip:	padding-box;
			-moz-background-clip:		padding;
			background-clip:				padding-box;
		}
			section#services article .photo:before,
			section#services article .photo:after {
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				-khtml-border-radius: 50%;
				border-radius: 50%;
				-webkit-background-clip:	padding-box;
				-moz-background-clip:		padding;
				background-clip:				padding-box;
			}
			section#services article .photo span {
				padding: 0.85em;
				display: block;
				font-size: 2em;
				text-align: center;
				color: #685E4A;

				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				-khtml-border-radius: 50%;
				border-radius: 50%;
				-webkit-background-clip:	padding-box;
				-moz-background-clip:		padding;
				background-clip:				padding-box;
			}
		section#services article h4 {
			color: #bc3100;
			display: table;
			text-align: center;
			padding: 3em 0.5em 0.5em;
			margin: 0 auto;
			text-shadow: 0 0 0.5em rgba(0,0,0,1);
		}
		section#services article .price {
		 	text-align: center;
			color: #577B87;
			font-family: "Lobster";
			font-size: 1.5em;
		}
		section#services article .text {
			line-height: 1.5em;
			padding: 1em 1.5em 1.5em;
			color: #7D7669;
			display: table;
			margin: auto;
		}
			section#services article .text a:not(.button) { color: #577B87; text-decoration: none; border-bottom: 0.1em dotted; }
			section#services article .text span { color: #577B87;	}
			section#services article .text strong { color: #bc3100;	}
			section#services article .button { font-size: 1em; margin: 1em auto; }


section#monials {}
	section#monials .header h2 { text-shadow: 0 0 1em #d5d3bc }
	section#monials .header:hover h2 {	color:#222; text-shadow: 0 0 1em #d5d3bc }
	section#monials .monial {
		padding: 5em 1rem 1em;
		margin-bottom: 1.5em;
		position: relative;
		outline: none !important;
	}
	section#monials .monial .content {box-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.25); }
			section#monials .monial:before {
				display: block;
				content: "";
				height: 0.25rem;
				width: 100%;
				background-color: #2a424a;
			}
			section#monials .monial .photo {
				display: block;
				width: 8em;
				height: 8em;
				position: absolute;
				top: 1em;
				left: 50%;
				margin-left: -4em;
				z-index: 500;
				border: 0.25rem solid #2a424a;
				overflow: hidden;

				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				-khtml-border-radius: 50%;
				border-radius: 50%;

				-webkit-background-clip:	padding-box;
				-moz-background-clip:		padding;
				background-clip:			padding-box;

				-webkit-filter: grayscale(50%);
				-moz-filter: grayscale(50%);
				-ms-filter: grayscale(50%);
				-o-filter: grayscale(50%);
				filter: grayscale(50%);
			}
				section#monials .monial .photo:before,
				section#monials .monial .photo:after {
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					-khtml-border-radius: 50%;
					border-radius: 50%;
					-webkit-background-clip:	padding-box;
					-moz-background-clip:		padding;
					background-clip:			padding-box;
				}
			section#monials .monial .person { text-align: center; }
				section#monials .monial .person h4 {
					color: #2a424a;
					display: table;
					padding: 3em 0.5em 0.5em;
					margin: 0 auto;
					text-shadow: 0 0 0.5em rgba(213,211,188,0.5);
				}
				section#monials .monial .person .projects {
					line-height: 1.5em;
					padding: 0 1em 1em;
					color: #2A424A;
				}
			section#monials .monial .text {
				line-height: 1.5em;
				padding: 1em 1.5em;
				background-color: rgba(220, 220, 220, 0.3);
			}
	section#monials .button { margin-top: 3em; }

section#questions { background-color: #000; padding-bottom: 3em;}
	section#questions p { line-height: 1.5em; }


section#form {
	background-color: #18130F;
	padding: 1em 0 2em;
}
	section#form .header h2:hover { color: #d5d3bc;}
	section#form form { padding: 1em 0 12em}
		form .element { margin-bottom: 3em; }
		form .element:last-child { margin-bottom: 0; }
		form .element.inline {
			width: 100%;
			float: none;
			padding-right: 0;
		}
		form .element.inline:nth-child(4) { padding-right: 0 }
			label span { color: #bc3100;}
			label, input, select, textarea {
				width: 100%;
				display: block;
				margin: 0 auto 1em;
				background-color: transparent;
				font-family: "OpenSansLight";
				font-size: 1em;
				color: #d5d3bc;
				max-width: 25rem;
			}
			input, select {
				border: 0;
				border-bottom: 2px solid #685E4A;
			}
			input:focus, select:focus {
				outline: 0;
				border-bottom: 2px solid #2a424a;
			}
			input.error, select.error {
				outline: 0;
				border-bottom: 2px solid #bc3100;
			}
			input[type=file] { border:0 }
			option { background-color: transparent; }
			textarea {
				border: 2px solid #685E4A;
				padding: 0.25em 0.5em;
				height: 6em;
			}
			textarea:focus {
				outline: 0;
				border: 2px solid #2a424a;
			}
			textarea.error { border: 2px solid #bc3100; }
			section#form input[type=submit] {
				font-size: 1.2em;
				margin: 0 auto;
			}

#contact .or, #questions .or { color: #577B87;}
.social { display: none; }
.social-mobile a {
	margin: 0 0.5em;
	display: inline-block;
	vertical-align: middle;
}
.social-mobile a img { max-height: 2rem; }
.social-mobile a.vk img { max-height: 1.5rem; }
.social a {
	margin: 0 0.5em;
	width: 48px;
	height: 40px;
	display: inline-block;
	position: relative;
}
.social a:before,
.social a:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0; left: 0;
	opacity: 0;
	background-image: url('../images/social/social.png');
	background-color: transparent;
	background-repeat: no-repeat;
}
.social a:before { opacity: 1; }
.social a:hover:before { opacity: 0; }
.social a:hover:after { opacity: 1; }
.social .vk:before 			{ background-position: 0px		0px; }
.social .vk:after 			{ background-position: -48px	0px; }
.social .telegram:before 	{ background-position: 0px		-40px; }
.social .telegram:after 	{ background-position: -48px	-40px; }
.social .whatsapp:before 	{ background-position: 0px		-80px; }
.social .whatsapp:after 	{ background-position: -48px	-80px; }
.social .instagram:before	{ background-position: 0px		-120px; }
.social .instagram:after 	{ background-position: -48px	-120px; }



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Inner Pages !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

header {
	max-height: 6em;
	overflow: hidden;
	box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.5);
	z-index: 10;
}
	header #logo {
		position: absolute;
		left: 50%;
		margin-left: -3em;
	}
		header #logo img, header #logo svg {
			width: 5em;
			height: 5em;
			padding: 0.5em;
			margin: 0.5em;
		}
		header #logo svg, header #logo img:hover { background-color: rgba(0,0,0,0.2); }
	header nav { float: left; }
	header nav .active { color: ;}

main { min-height: 100vh; z-index: -1 !important; }



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 600px) {

.container-grid {
	margin: 0 auto;
	display: table;
}
.w25, .w50 { width: 50%; float: left; }
.portfolio { padding: 0 1rem; }
#portfolio .header { padding: 4em 0; }
.portfolio article {
	width: calc(50% - 2rem);
	margin: 0 1rem 2rem;
	box-shadow: 0 0.5rem 1rem #000;
}

/*
.portfolio article { height: 192px; }
	.portfolio article h4 { margin: 2.5em auto; }
	.portfolio article .player { padding: 10% 12%; }
		.portfolio article .player div {
			float: none;
			margin-right: 0;
		}
*/
section#monials .monial {
	/*width: 50%;
	float: left;*/
	padding: 5em 1em 1em;
}
section#monials .button { margin-top: 2em; }

section#questions .element.inline { margin-bottom: 2.5em; }
	section#questions form .element.one { width: 220px; }
	section#questions form .element.two { width: calc(100% - 220px); }

section#form .container-grid { padding: 0 3em; }
	section#form form { padding: 0; }
		form .element.inline {
			width: 50%;
			float:left;
			padding: 1em;
		}
		section#form form .com-label { float: left; padding: 0 1em; }
		section#form form .com { padding: 0 1em; }
		section#form .submit-input { padding: 0 1em }
		section#form .submit-input input { margin: 0 }

.contactform {
	width: 50%;
	margin-right: 1rem;
	float: left;
}

.modal .content {
    padding: 0px 3em 3em;
}

}

@media (min-width: 767px) {

h1 { font-size: 3.5em; }
h2 { font-size: 2.5em; }
.big   { font-size: 1.5em; line-height: 1.5em }
.button {font-size: 1.5em;}

.top { background-color: rgba(15, 30, 35, 0.5); }
	#logo svg, #logo img {
		width:  6em;
		height: 6em;
	}
	nav { display: block }
section#intro h1 { padding: 0.5em 0 1em;}
section#aboutme .text {
	width: 31em;
	margin: auto;
}
.svg.arrow {
	display: block;
	right: 7em;
}
section#form input[type=submit] { font-size: 1.5em; }
.social {display: block}
.social-mobile {display: none}

}

@media (min-width: 960px) {

.container-grid {
	width: 940px;
	padding: 0;
}
.w25  { width: 25%; float: left; }
.w33  { width: 33%; float: left; }
.w50  { width: 50%; float: left; }
.cover.noise:before { display: block; }

.fixed { background-attachment: fixed ! important}
.noise-fixed:before { background-attachment: fixed; }

section#portfolio { padding-bottom: 6em; }
.portfolio article {
	width: calc(25% - 2rem);
}

section#services .container-grid { padding-bottom: 0 }
section#services article { padding: 6em 1em 6em; }
section#services article.prime { padding: 3em 1em 6em; }

section#monials .button { margin-top: 1em; }

section#questions { padding-bottom: 2.5em; }
	section#questions form .element.inline { padding: 0 2em; }
	section#questions form .element.two { width: calc(100% - 220px - 220px); }
	section#questions form .button { font-size: 1em; }

section#form form { padding-top: 1em; }
	form .element { margin-bottom: 1em; }
	form .element.inline {
		width: 25%;
		padding: 0;
		padding-right: 3em;
	}
		section#form form .com { padding: 0 3em 0 0;}
		section#form textarea { height: 5.7em; }
		section#form .submit-input { padding: 0 }

}

@media (min-width: 1280px) {

.container-grid { width: 1196px; }

section#aboutme .myphoto {
    width: 30vmin;
    height: 30vmin;
    margin-right: 3em;
}
.svg.arrow { right: 17em; }

}